name: engine unit-test without coverage control

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  engine_unit-test_no-coverage:

    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        python-version: ['3.12']

    steps:

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Get the source code
      uses: actions/checkout@v4

    - name: Run unit-tests
      run: |
        python -m unittest -v -b
